.center {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #F0F0F0 1px solid;
}

table {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-spacing: 15px;
  color: black;
  
}

.btn {
  color: #816e06;
  padding: 0.3em 1em;
  margin-right: 10px;
  background-color: transparent;
  border-radius: 6px;
  border: 3px solid #9f8806;
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 14px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  align-self: center;
}

.btn::before {
  display: block;
  height: 70%;
  width: 0%;
  position: absolute;
  top: 0;
  left: 0px;
  z-index: -1;
  transition: .2.5s ease-out;
  background-color: #9f8806;
}

.btn:hover::before {
  width: 100%;
}

.btn:hover {
  color: #171616;
  background-color: #9f8806;
}

.btn1 {
  color: #068e1a;
  padding: 0.3em 1em;
  margin-right: 10px;
  background-color: transparent;
  border-radius: 6px;
  border: 3px solid #068e1a;
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 14px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  align-self: center;
}

.btn1::before {
  display: block;
  height: 70%;
  width: 0%;
  position: absolute;
  top: 0;
  left: 0px;
  z-index: -1;
  transition: .2.5s ease-out;
  background-color: #068e1a;
}

.btn1:hover::before {
  width: 100%;
}

.btn1:hover {
  color: #171616;
  background-color: #068e1a;
}

.btn2 {
  color: #971708;
  padding: 0.3em 1em;
  margin-right: 10px;
  background-color: transparent;
  border-radius: 6px;
  border: 3px solid #971708;
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 14px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  align-self: center;
}

.btn2::before {
  display: block;
  height: 70%;
  width: 0%;
  position: absolute;
  top: 0;
  left: 0px;
  z-index: -1;
  transition: .2.5s ease-out;
  background-color: #971708;
}

.btn2:hover::before {
  width: 100%;
}

.btn2:hover {
  color: #171616;
  background-color: #971708;
}

.butoane_cos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.border {
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
}
td {
  padding: 5px;
  border-bottom: 2px dashed black;
}

.pagination {
  overflow: hidden;
  margin: 10px 0;
  position: fixed;
  bottom: 0;
  right: 0;
}

.pagination-container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a:first-child {
  margin-left: 0;
}

.pagination a:last-child {
  margin-right: 0;
  float: left;
}